header.w-100.py-2.navbar-light.bg-color2.shadow 
    nav.navbar.navbar-expand-lg.text-white.d-flex.justify-content-between.font-weight-bold
        .d-flex.justify-content-center.align-content-center
            h3 
                a(href="/home").text-white.font-weight-bold PRE SELECCION DE CURSOS

            if rol === 'administrador'
                a(href="/cursos").text-white.mx-3 Cursos
                a(href="/encuestas").text-white.mx-3 Encuestas
                a(href="/selecciones").text-white.mx-3 Selecciones 
                a(href="/usuarios").text-white.mx-3 Usuarios
            

        a(href="/cerrar-sesion").text-white SALIR 
