doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INICIO
        link(rel="stylesheet", href="/css/skeleton.css")
        link(rel="stylesheet", href="/css/custom.css")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap' rel='stylesheet')

    body.bg-color3.h-100 
        include header

        block login

        include footer 