extends ./layouts/layoutHome

block cursos
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                form(action="/cursos", method="post").p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5

                    h3.text-center.font-weight-bold AGREGAR NUEVO CURSO

                    if mensaje
                        .alert.alert-danger.text-center
                            span=mensaje
                    endif

                    .form-group.my-3
                        label(for="nombre") Nombre del Curso
                        input#nombre(type="text", name="nombre", placeholder="Nombre...").form-control

                    input(type="submit", value="Guardar Curso").form-control.btn.btn-primary
            .col-7.row
                .col-9 
                    .w-100.bg-white.rounded.shadow.text-center.p-2.mb-2
                        h3 CURSOS

                    if cursos.length > 0
                        each curso in cursos
                            .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.p-4.my-3
                                h4.titulo-curso=curso.nombre
                                
                                .d-flex
                                    a(href='/curso/'+curso.id).btn.btn-primary.mx-2 Editar

                                    a(href='/eliminar-curso/'+curso.id).btn.btn-danger.mx-2 Eliminar
                    else 
                        .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.px-4.py-5
                            h4 No Hay Cursos Cargados



