extends ./layouts/layoutHome

block cursos
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                .p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5
                    if error
                        h3.text-center.font-weight-bold ESTE CURSO NO EXISTE
                    else 
                        form(action="/editar-curso/"+curso.id, method="post")
                            h3.text-center.font-weight-bold EDITAR CURSO

                            if mensaje
                                .alert.alert-danger.text-center
                                    span=mensaje
                            endif

                            .form-group.my-3
                                label(for="nombre") Nombre del Curso
                                input#nombre(type="text", name="nombre", placeholder="Nombre...", value=curso.nombre).form-control

                            input(type="submit", value="Guardar Cambios").form-control.btn.btn-primary
