extends ./layouts/layoutHome

block editar-usuario
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                .p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5
                    if error
                        h3.text-center.font-weight-bold ESTE USUARIO NO EXISTE
                    else 
                        form(action="/editar-usuario/"+usuario.id, method="post")
                            h3.text-center.font-weight-bold EDITAR USUARIO

                            if mensaje
                                .alert.alert-danger.text-center
                                    span=mensaje
                            endif

                            .form-group.my-3
                                label(for="nombre") Nombre
                                input#nombre(type="text", name="nombre", placeholder="Nombre...", value=usuario.nombre).form-control

                            .form-group.my-3
                                label(for="apellido") Apellido
                                input#apellido(type="text", name="apellido", placeholder="Apellido...", value=usuario.apellido).form-control

                            .form-group.my-3
                                label(for="correo") Correo Electronico
                                input#correo(type="email", name="correo", placeholder="Correo Electronico...", value=usuario.correo).form-control

                            .form-group.my-3
                                label(for="clave") Clave
                                input#clave(type="password", name="clave", placeholder="Contraseña de Seguridad...", value=usuario.clave).form-control

                            .form-group.my-3
                                label(for="rol_id") Rol
                                select#rol_id(name="rol_id", value=usuario.rol_id).form-control 
                                    option(value="") Seleccione un Rol 
                                    each rol in roles
                                        option(value=rol.id)=rol.nombre 
                                
                            input#id(type="text", value=usuario.id, disabled=true, name="id").hidden

                            input(type="submit", value="Guardar").form-control.btn.btn-primary