extends ./layouts/layoutHome

block cursos
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                .p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5
                    if error
                        h3.text-center.font-weight-bold ESTA ENCUESTA NO EXISTE
                    else 
                        form(action="/editar-encuesta/"+encuesta.id, method="post")
                            h3.text-center.font-weight-bold EDITAR ENCUESTA

                            if mensaje
                                .alert.alert-danger.text-center
                                    span=mensaje
                            endif

                            .form-group.my-3
                                label(for="fecha_inicio") Fecha de Inicio
                                input#fecha_inicio(type="date", name="fecha_inicio", value=encuesta.fecha_inicio).form-control

                            .form-group.my-3
                                label(for="fecha_fin") Fecha de Finalización
                                input#fecha_fin(type="date", name="fecha_fin", value=encuesta.fecha_fin).form-control

                            input(type="submit", value="Guardar Cambios").form-control.btn.btn-primary
