extends ./layouts/layoutHome

block encuestas
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                form(action="/encuestas", method="post").p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5

                    h3.text-center.font-weight-bold AGREGAR NUEVA ENCUESTA

                    if mensaje
                        .alert.alert-danger.text-center
                            span=mensaje
                    endif

                    .form-group.my-3
                        label(for="fecha_inicio") Fecha de Inicio
                        input#fecha_inicio(type="date", name="fecha_inicio").form-control

                    .form-group.my-3
                        label(for="fecha_fin") Fecha de Finalización
                        input#fecha_fin(type="date", name="fecha_fin").form-control

                    input(type="submit", value="Guardar y Activar Encuesta").form-control.btn.btn-primary
            .col-7.row
                .col-9 
                    .w-100.bg-white.rounded.shadow.text-center.p-2.mb-2
                        h3 Encuestas

                    if encuestas.length > 0
                        each encuesta in encuestas
                            .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.p-4.my-3
                                h4.titulo-curso Periodo

                                p=encuesta.fecha_inicio + " - " + encuesta.fecha_fin
                                
                                .d-flex
                                    a(href='/encuesta/'+encuesta.id).btn.btn-primary.mx-2 Editar

                                    a(href='/eliminar-encuesta/'+encuesta.id).btn.btn-danger.mx-2 Eliminar
                    else 
                        .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.px-4.py-5
                            h4 No Hay Encuestas Cargados


