extends ./layouts/layoutHome

block home
    main.py-2

        if encuestaStatus
            .w-100.text-center.my-5
                .w-50.text-center.p-3.bg-white.mx-auto.rounded.shadow
                    h2.my-2.font-weight-bold SELECCIONE LOS CURSOS QUE QUIERE VER
                    p debe seleccionar al menos 1 pero no mas de 2

                    if mensaje
                        .alert.alert-danger
                            p=mensaje
                    endif

            .w-100
                .w-75.mx-auto.bg-white.p-5.rounded.shadow
                    form(action="/home", method="post") 
                        table.table.table-striped
                            thead
                                tr 
                                    th(scope="col") Seleccione
                                    th(scope='col') Nombre
                            tbody 
                                each curso in cursos 
                                    tr 
                                        th(scope='row') 
                                            input(id=curso.nombre, type="checkbox", name=curso.nombre)
                                        td=curso.nombre

                        //- Identificador del usuario logeado
                        input(type="text", name="usuario_id", value=usuario_id, disabled=true).hidden

                        input(type="submit", value="Enviar").btn.btn-primary
        else
            .w-100.text-center.my-5
                .w-50.text-center.p-3.bg-white.mx-auto.rounded.shadow
                    h2.my-2.font-weight-bold No hay alguna encuesta activa en este momento

