extends ./layouts/index

block login
    .w-100
        .w-75.mx-auto.my-5
            form(action="/", method="POST").d-flex.flex-column.w-50.mx-auto.bg-color4.p-5.shadow.rounded

                h2.text-center.my-3.font-weight-bold Bienvenido, Inicie Sesion para Entrar
                
                if mensaje
                    .alert.alert-danger
                        p=mensaje

                .form-group
                    label(for="email-input")  Correo Electronico
                    input#email-input(type="email", name="correo", placeholder="correo@correo.com...").form-control

                .form-group
                    label(for='pass-input') Contraseña
                    input#pass-input(type="password", name="clave", placeholder="********").form-control

                input(type="submit", value="Iniciar Sesión").btn.btn-primary
