extends ./layouts/layoutHome

block nuevo-usuario
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-5 
                .p-5.bg-color3.rounded.shadow.d-flex.flex-column.p-5
                    if error
                        h3.text-center.font-weight-bold ESTE CURSO NO EXISTE
                    else 
                        form(action="/nuevo-usuario", method="post")
                            h3.text-center.font-weight-bold AGREGAR NUEVO USUARIO

                            if mensaje
                                .alert.alert-danger.text-center
                                    span=mensaje
                            endif

                            .form-group.my-3
                                label(for="nombre") Nombre
                                input#nombre(type="text", name="nombre", placeholder="Nombre...").form-control

                            .form-group.my-3
                                label(for="apellido") Apellido
                                input#apellido(type="text", name="apellido", placeholder="Apellido...").form-control

                            .form-group.my-3
                                label(for="correo") Correo Electronico
                                input#correo(type="email", name="correo", placeholder="Correo Electronico...").form-control

                            .form-group.my-3
                                label(for="clave") Clave
                                input#clave(type="password", name="clave", placeholder="Contraseña de Seguridad...").form-control

                            .form-group.my-3
                                label(for="rol_id") Rol
                                select#rol_id(name="rol_id").form-control 
                                    option(value="") Seleccione un Rol 
                                    each rol in roles
                                        option(value=rol.id)=rol.nombre 

                            input(type="submit", value="Guardar").form-control.btn.btn-primary