extends ./layouts/layoutHome

block selecciones
    main.w-100.h-100
        .w-75.mx-auto.row.d-flex.justify-content-center.my-5
            .col-12.row
                .col-9.mx-auto 
                    .w-100.bg-white.rounded.shadow.text-center.p-2.mb-2
                        h3 SELECCIONES

                    if encuestas.length > 0
                        each encuesta in encuestas
                            .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.p-4.my-3
                                h4.titulo-curso Periodo
                                p= encuesta.fecha_inicio + " - " + encuesta.fecha_fin
                                
                                .d-flex
                                    a(href='/seleccion/'+encuesta.id).btn.btn-primary.mx-2 Ver
                    else 
                        .w-100.bg-white.rounded.shadow.d-flex.justify-content-between.px-4.py-5
                            h4.mx-auto Aun No Hay Selecciones