extends ./layouts/layoutHome

block seleccion
    main.py-2
        if !error
            .w-100.text-center.my-5
                .w-50.text-center.p-3.bg-white.mx-auto.rounded.shadow
                    h2.my-2.font-weight-bold SELECCIONES
                    if fecha_inicio && fecha_fin
                        p= fecha_inicio + " - " + fecha_fin

            .w-100
                .w-75.mx-auto.bg-white.p-5.rounded.shadow
                    //- form(action="/home", method="post") 
                    table.table.table-striped
                        thead
                            tr 
                                th(scope='col') Nombre
                                th(scope='col') Votos
                        tbody 
                            each seleccion in selecciones 
                                tr 
                                    td=seleccion.nombre
                                    td=seleccion.votos
        else
            .w-100.text-center.my-5
                .w-50.text-center.p-3.bg-white.mx-auto.rounded.shadow
                    h2.my-2.font-weight-bold Seleccion Inexistente

