extends ./layouts/layoutHome

block usuarios
    main.py-2
        .w-100.text-center.my-5
            .w-50.text-center.p-3.bg-white.mx-auto.rounded.shadow
                h2.my-2.font-weight-bold USUARIOS

        .w-100
            .w-75.mx-auto.bg-white.p-5.rounded.shadow
                .d-flex.w-100.justify-content-end.mb-3
                    a(href='/nuevo-usuario').btn.btn-primary Agregar Usuario

                //- form(action="/home", method="post") 
                table.table.table-striped
                    thead
                        tr 
                            th(scope='col') Nombre
                            th(scope='col') Apellido
                            th(scope='col') Correo
                            th(scope='col') Rol
                            th(scope='col')
                    tbody 
                        each usuario in usuarios 
                            tr 
                                td=usuario.nombre
                                td=usuario.apellido
                                td=usuario.correo
                                td=usuario.rol_name
                                td 
                                    a(href="/editar-usuario/"+usuario.id).btn.btn-primary.mx-2 Editar
                                    a(href="/eliminar-usuario/"+usuario.id).btn.btn-danger.mx-2 Eliminar 