.header-nav{
    width: 100%;

}

.bg-color1{ background-color: var(--color1); }
.bg-color2{ background-color: var(--color2); }
.bg-color3{ background-color: var(--color3); }
.bg-color4{ background-color: var(--color4); }

.curso-card{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(200, 200, 200, .5);
    box-shadow: 0px 0px 5px 2px rgba(136, 136, 136, .4);

    transition: all .5s ease;
}

.curso-card:hover{
    transform: scale(1.075);
    cursor: pointer;
}

.titulo-curso::first-letter{
    text-transform: uppercase;
}
.hidden{
    display: none;
}

.bottom-0{
    bottom: 0;
}

.absolute{
    position: absolute;
}